.messageWindow {
  flex: 1;
  overflow-y: auto;
  padding: 8px;
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.empty h2 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 8px;
}

.empty img {
  border-radius: 50%;
  width: 140px;
  height: 140px;
}

.empty p {
  color: #111;
  font-size: 15px;
  font-weight: 300;
  max-width: 290px;
}

.dateSeperator {
  margin: 8px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) calc(50% - 1px),
    #eee calc(50%),
    rgba(0, 0, 0, 0) calc(50% + 1px)
  );
}

.dateSeperator small {
  background: #eee;
  padding: 2px 4px;
  border-radius: 4px;
}

:global(.dark) .dateSeperator small {
  background: #363a52;
}

:global(.dark) .dateSeperator {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) calc(50% - 1px),
    #363a52 calc(50%),
    rgba(0, 0, 0, 0) calc(50% + 1px)
  );
}
