.person {
  display: flex;
  align-items: center;
  padding: 8px 8px;
  border-bottom: 1px solid #eee;
  border-radius: 3px;

  cursor: pointer;
}
.person:hover,
.active {
  background: #eee;
}

.usernameContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  line-height: 18px;
  margin-left: 8px;

  max-width: calc(100% - 56px);
}

.personName {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--primary-text-color);
}

.lastMessage {
  color: #777;
  font-size: 0.9rem;
  line-height: 32px;
  display: flex;
  justify-content: space-between;
}

.lastMessage span,
.lastMessage strong {
  text-overflow: ellipsis;
  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

.menuButton {
  opacity: 0;
  transition: all 50ms ease-in;
  transition-property: opacity;
}

.person:hover .menuButton {
  opacity: 1;
}

:global(.dark) .person {
  border-bottom: #737cbb solid 1px;
}
:global(.dark) .person:hover,
:global(.dark) .active {
  background: #454d83;
}
