.sidebar {
  border-right: 1px solid #eee;
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 8px;

  height: 100%;
}

.userlist {
  padding-top: 8px;
}
.person {
  display: flex;
  align-items: center;
  padding: 8px 8px;
  border-bottom: 1px solid #eee;
  border-radius: 3px;

  cursor: pointer;
}
.person:hover,
.active {
  background: #eee;
}

.personBullet {
  width: 40px;
  height: 40px;
  position: relative;
  display: flex;
  border-radius: 50%;
  flex-shrink: 0;
}

.usernameContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  line-height: 18px;
  margin-left: 8px;
}

.personName {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--primary-text-color);
}

.lastMessage {
  color: #777;
  font-size: 0.9rem;
}
