.sidebar {
  border-right: 1px solid #eee;
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 8px;
  height: 100%;
}

.userlist {
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
}

.notification {
  padding: 8px;
  text-align: center;
}

.notification p {
  line-height: 24px;
  padding: 8px;
}

.notification svg {
  margin-bottom: -4px;
}

.background {
  background: #eee;
  padding: 8px;
  border-radius: 4px;
}

.left {
  text-align: left;
}
.right {
  text-align: right;
}
.notHeader {
  text-align: left;
  padding: 0;
}

.notification svg {
  float: right;
  cursor: pointer;
}
.notification small {
  float: right;
}

:global(.dark) .notification .background {
  background: #363a52;
}

:global(.dark) .sidebar {
  border-color: #454d83;
}
