.sidebar {
  border-right: 1px solid #eee;
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 8px;

  height: 95%;
}

.userlist {
  padding-top: 8px;
}
.person {
  display: flex;
  align-items: center;
  padding: 8px 8px;
  border-bottom: 1px solid #eee;
  border-radius: 3px;

  cursor: pointer;
}
.person:hover,
.active {
  background: #eee;
}

.usernameContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  line-height: 18px;
  margin-left: 8px;
}

.personName {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--primary-text-color);
}

.lastMessage {
  color: #777;
  font-size: 0.9rem;
  line-height: 32px;
  display: flex;
  justify-content: space-between;
}
.span {
}

.menuButton {
  opacity: 0;
  transition: all 50ms ease-in;
  transition-property: opacity;
}

.person:hover .menuButton {
  opacity: 1;
}
