:global(.dark) .texarea {
  color: white !important;
  background-color: #333;
}

.textarea {
  padding: 4px 8px 8px 4px;
  border: none;
  flex: 1;
  font-size: 16px;
  line-height: 24px;
  font-family: Roboto, sans-serif;
  margin-bottom: 8px;
}
