.App {
  font-family: "Roboto", sans-serif;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: top;

  overflow: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
